## Task 1

In [5]:
import numpy as np
record = {}

In [6]:
while True:
    cow_id = int(input("Please enter cow ID, or enter 0 to exit: "))
    if cow_id == 0: #Exit code incase user wants to stop entering values
        break
    if cow_id not in record: #Will add new cow ID to records if true, will skip and edit present data if false
        record[cow_id] = np.zeros((7,2))
    while True:
        day = int(input("Values for which day would you like to enter?(1-7) "))
        day = day-1
        if day in range(0,7):
            break
    while True:
        milk_time = int(input("Please enter 1 for the first milking or 2 for the second milking: "))
        milk_time = milk_time-1
        if milk_time in range(0,2):
            break
    milk = round(float(input("Please enter the litres of milk produced (only enter numeric values): ")),1)
    record[cow_id][day][milk_time] = milk

Please enter cow ID, or enter 0 to exit: 123
Values for which day would you like to enter?(1-7) 1
Please enter 1 for the first milking or 2 for the second milking: 1
Please enter the litres of milk produced (only enter numeric values): 12
Please enter cow ID, or enter 0 to exit: 123
Values for which day would you like to enter?(1-7) 2
Please enter 1 for the first milking or 2 for the second milking: 2
Please enter the litres of milk produced (only enter numeric values): 14
Please enter cow ID, or enter 0 to exit: 123
Values for which day would you like to enter?(1-7) 3
Please enter 1 for the first milking or 2 for the second milking: 1
Please enter the litres of milk produced (only enter numeric values): 15
Please enter cow ID, or enter 0 to exit: 123
Values for which day would you like to enter?(1-7) 4
Please enter 1 for the first milking or 2 for the second milking: 2
Please enter the litres of milk produced (only enter numeric values): 15
Please enter cow ID, or enter 0 to exit: 123
Values for which day would you like to enter?(1-7) 5
Please enter 1 for the first milking or 2 for the second milking: 2
Please enter the litres of milk produced (only enter numeric values): 12
Please enter cow ID, or enter 0 to exit: 456
Values for which day would you like to enter?(1-7) 6
Please enter 1 for the first milking or 2 for the second milking: 2
Please enter the litres of milk produced (only enter numeric values): 12
Please enter cow ID, or enter 0 to exit: 789
Values for which day would you like to enter?(1-7) 6
Please enter 1 for the first milking or 2 for the second milking: 32
Please enter 1 for the first milking or 2 for the second milking: 2
Please enter the litres of milk produced (only enter numeric values): 32
Please enter cow ID, or enter 0 to exit: 0

## Task 2

In [7]:
total = {}
avg = {}
for i in record:
    total[i] = round(record[i].sum())
    avg[i] = round(total[i]/7)

In [17]:
print(total)

{123: 68, 456: 12, 789: 32}

In [18]:
print(avg)

{123: 10, 456: 2, 789: 5}

## Task 3

In [8]:
max_key = max(total, key=total.get)
print("Cow "+str(max_key)+" has greatest yield of "+str(total[max_key])+" litres.")

Cow 123 has greatest yield of 68 litres.

In [9]:
cow_yield_per_day = {}
for i in record:
    cow_yield_per_day[i] = np.zeros(7)
    for j in range(0,7):
        cow_yield_per_day[i][j] = sum(record[i][j])

In [15]:
low_yield_cows = []

for j in range(0,4):
    for k in range(j+1,5):
        for l in range(k+1,6):
            for m in range(l+1,7):
                for i in cow_yield_per_day:
                    if(cow_yield_per_day[i][j]+cow_yield_per_day[i][k]+cow_yield_per_day[i][l]+cow_yield_per_day[i][m] < 12):
                        if i not in low_yield_cows:
                            low_yield_cows.append(i)
                            break

In [16]:
cow_names = ", ".join(str(cow) for cow in low_yield_cows)
print("Cows with low yields are: " + cow_names)

Cows with low yields are: 456, 789